[Unit]
Description=Start dunst daemon
Documentation=https://dunst-project.org/documentation/
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=dunst
Restart=on-failure
Slice=app-graphical.slice
RestartSec=2s

[Install]
WantedBy=graphical-session.target
