[Unit]
Description=Start fcitx5
Documentation=https://fcitx-im.org/wiki/Fcitx_5/zh-cn
Requires=rclone.service
After=graphical-session.target rclone.service

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland:Niri:niri" ""
ExecStart=fcitx5 -r
Restart=on-failure
RestartSec=2s
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
