[Unit]
Description=Start foot as server mode
Documentation=https://codeberg.org/dnkl/foot
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland:Niri:niri" ""
ExecStart=foot --server
Restart=on-failure
Slice=app-graphical.slice
RestartSec=2s

[Install]
WantedBy=graphical-session.target
