[Unit]
Description=Start Alacritty daemon
Documentation=https://alacritty.org/config-alacritty.html
After=wayland-session@hyprland.desktop.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=hypridle
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=wayland-session@hyprland.desktop.target
