[helpers]

[default]
depends = []

[default.variables]
font = "Maple Mono NF CN"
ui_font = "Maple Mono NF CN"
font_size = "12"
font_size_small = "8"
font_size_medium = "12"
font_size_large = "25"
font_size_xlarge = "55"
wallpaper = "~/Pictures/wallpaper/wall1.jpg"

[nvim.files]
"nvim/init.lua" = "~/.config/nvim/init.lua"
"nvim/lua" = "~/.config/nvim/lua"
"dependencies/nvim" = { target = "~/.local/share/nvim", type = "symbolic" }

[alacritty.files]
"alacritty/alacritty.toml" = "~/.config/alacritty/alacritty.toml"
"systemd/alacritty.service" = "~/.config/systemd/user/alacritty.service"

[zsh]
depends = ["nvim"]

[zsh.variables]
usegnupg = "1"

[zsh.files]
"zsh/zlogin" = "~/.zlogin"
"zsh/zshrc" = "~/.zshrc"
"zsh/zshenv" = "~/.zshenv"
"zsh/conf" = "~/.config/zsh/conf"
"dependencies/zsh" = { target = "~/.config/zsh/plugins", type = "symbolic" }
"zsh/local.zsh.example" = "~/.config/zsh/local.zsh.example"

[hyprland]
depends = [ "uwsm" ]

[hyprland.variables]
calculator_cmd = "tofi-calc"

[hyprland.files]
"hyprland/hyprland.conf" = "~/.config/hypr/hyprland.conf"
"hyprland/variables.conf" = "~/.config/hypr/variables.conf"
"hyprland/keybinds.conf" = "~/.config/hypr/keybinds.conf"
"hyprland/windowrules.conf" = "~/.config/hypr/windowrules.conf"
"hyprland/hyprlock.conf" = "~/.config/hypr/hyprlock.conf"
"hyprland/hypridle.conf" = "~/.config/hypr/hypridle.conf"
"hyprland/hyprpaper.conf" = "~/.config/hypr/hyprpaper.conf"
"wallpaper/wall1.jpg" = "~/Pictures/wallpaper/wall1.jpg"
"scripts/media-check.sh" = "~/.local/bin/media-check"
"scripts/volume-control.sh" = "~/.local/bin/volume-control"
"hyprland/hyprland-portals.conf" = "~/.config/xdg-desktop-portal/hyprland-portals.conf"
"systemd/hypridle.service" = "~/.config/systemd/user/hypridle.service"
"systemd/hyprpaper.service" = "~/.config/systemd/user/hyprpaper.service"

[dunst.files]
"dunst/dunstrc" = "~/.config/dunst/dunstrc"
"systemd/dunst.service" = "~/.config/systemd/user/dunst.service"

[tmux.files]
"tmux/tmux.conf" = "~/.config/tmux/tmux.conf"

[fcitx5.variables]
rime-id = "0369579c-ee54-42ad-87e2-2ee9b3fdfed1"

[fcitx5.files]
"fcitx5/config" = "~/.config/fcitx5/config"
"fcitx5/profile" = "~/.config/fcitx5/profile"
"fcitx5/conf" = "~/.config/fcitx5/conf"
"fcitx5/rime" = "~/.local/share/fcitx5/rime"
"fcitx5/rime/im" = "~/.local/share/fcitx5/rime"
"systemd/fcitx5.service" = "~/.config/systemd/user/fcitx5.service"

[tofi.variables]
launcher_cmd = "tofi-drun --drun-launch=true --prompt-text \"󰣆 :\""
clipboard_cmd = "cliphist list | tofi --prompt-text \" :\" | cliphist decode | wl-copy"

[tofi.files]
"tofi/config" = "~/.config/tofi/config"
"scripts/tofi-calc.sh" = "~/.local/bin/tofi-calc"

[bottom.files]
"bottom/bottom.toml" = "~/.config/bottom/bottom.toml"

[gtk.variables]
gtk_theme = "AweSome"
gtk_icon_theme = "Tela-nord-dark"
gtk_cursor_theme = "volantes_cursors"

[gtk.files]
"gtk/settings2.ini" = "~/.gtkrc-2.0"
"gtk/settings3.ini" = "~/.config/gtk-3.0/settings.ini"
"gtk/settings4.ini" = "~/.config/gtk-4.0/settings.ini"
"gtk/themes" = "~/.local/share/themes"

[lf.variables]
lf_wrapper_path = "$HOME/.local/bin/lf-wrapper.sh"
default_home_dir = "$HOME"

[lf.files]
"lf/lfrc" = { target = "~/.config/lf/lfrc", type = "symbolic" }
"lf/scope" = "~/.config/lf/scope"
"lf/cleaner" = "~/.config/lf/cleaner"
"lf/icons" = "~/.config/lf/icons"
"lf/colors" = "~/.config/lf/colors"
"lf/xdg-filepicker" = { target = "~/.config/lf/xdg-filepicker", type = "symbolic" }
"lf/xdg-filepicker/config" = "~/.config/xdg-desktop-portal-wlr/config"
"scripts/lf-wrapper.sh" = "~/.local/bin/lf-wrapper.sh"

[qutebrowser.variables]
translate_target = "zh-CN" # Default translation target language

[qutebrowser.files]
"qutebrowser/config.py" = "~/.config/qutebrowser/config.py"
"qutebrowser/autoconfig.yml" = "~/.config/qutebrowser/autoconfig.yml"
"qutebrowser/stylesheet.css" = "~/.config/qutebrowser/stylesheet.css"
"qutebrowser/quickmarks" = "~/.config/qutebrowser/quickmarks"
"qutebrowser/bookmarks" = "~/.config/qutebrowser/bookmarks/"
"qutebrowser/theme.py" = "~/.config/qutebrowser/theme.py"
"qutebrowser/userscripts" = "~/.config/qutebrowser/userscripts"
"qutebrowser/userscripts/translate" = { target = "~/.config/qutebrowser/userscripts/translate", type = "symbolic" }

[niri]
depends = ["uwsm"]

[niri.variables]
wallpaper = "~/Pictures/wallpaper/wall1.jpg"
terminal_cmd = "alacritty msg create-window -e tmux new-session -A -s main"
filemanager_cmd = "alacritty msg create-window --class=\"file-manager\" -e lf"
launcher_cmd = "tofi-drun --drun-launch=true --prompt-text \"󰣆 :\""
clipboard_cmd = "cliphist list | tofi --prompt-text \" :\" | cliphist decode | wl-copy"
process_manager_cmd = "alacritty msg create-window --class=\"process-manager\" -e btm"
calculator_cmd = "tofi-calc"

[niri.files]
"niri/config.kdl" = "~/.config/niri/config.kdl"
"wallpaper/wall1.jpg" = "~/Pictures/wallpaper/wall1.jpg"
"scripts/media-check.sh" = "~/.local/bin/media-check"
"scripts/volume-control.sh" = "~/.local/bin/volume-control"
"scripts/niri/niri-session" = "~/.local/bin/niri-session"

[uwsm]
depends = ["foot",
"cliphist",
"dunst",
"tofi",
"fcitx5",
"gtk"
]

[uwsm.files]
"uwsm/global.env" = "~/.config/uwsm/env"
"uwsm/hyprland.env" = "~/.config/uwsm/env-hyprland"

[cliphist.files]
"systemd/cliphist.service" = "~/.config/systemd/user/cliphist.service"

[foot]
depends = ["tmux", "lf", "bottom"]

[foot.variables]
terminal = "footclient --app-id=\"file-manager\""
terminal_cmd = "footclient tmux new-session -A -s main"
filemanager_cmd = "footclient --app-id=\"file-manager\" lf"
process_manager_cmd = "footclient --app-id=\"process-manager\" btm"

[foot.files]
"foot/foot.ini" = "~/.config/foot/foot.ini"
"systemd/foot.service" = "~/.config/systemd/user/foot.service"

[settings]
default_target_type = "automatic"
