[settings]
default_target_type = "automatic"

[nvim.files]
"nvim/init.lua" = "~/.config/nvim/init.lua"
"nvim/lua" = "~/.config/nvim/lua"
"scripts/editor.sh" = "~/.local/bin/editor"

[alacritty.files]
"alacritty/alacritty.toml" = "~/.config/alacritty/alacritty.toml"
"systemd/alacritty.service" = "~/.config/systemd/user/alacritty.service"

[zsh]
depends = ["nvim"]

[zsh.variables]
usegnupg = "1"

[zsh.files]
"zsh/zlogin" = "~/.zlogin"
"zsh/zshrc" = "~/.zshrc"
"zsh/zshenv" = "~/.zshenv"
"zsh/conf" = "~/.config/zsh/conf"
"dependencies/zsh" = { target = "~/.config/zsh/plugins", type = "symbolic" }
"zsh/local.zsh.example" = "~/.config/zsh/local.zsh.example"

[hyprland]
depends = ["uwsm"]

[hyprland.files]
"hyprland/hyprland.conf" = "~/.config/hypr/hyprland.conf"
"hyprland/variables.conf" = "~/.config/hypr/variables.conf"
"hyprland/keybinds.conf" = "~/.config/hypr/keybinds.conf"
"hyprland/windowrules.conf" = "~/.config/hypr/windowrules.conf"
"hyprland/hyprlock.conf" = "~/.config/hypr/hyprlock.conf"
"hyprland/hypridle.conf" = "~/.config/hypr/hypridle.conf"
"hyprland/hyprpaper.conf" = "~/.config/hypr/hyprpaper.conf"
"hyprland/hyprland-portals.conf" = "~/.config/xdg-desktop-portal/hyprland-portals.conf"
"systemd/hypridle.service" = "~/.config/systemd/user/hypridle.service"
"systemd/hyprpaper.service" = "~/.config/systemd/user/hyprpaper.service"
"hyprland/hyprland.env" = "~/.config/uwsm/env-hyprland"

[dunst.files]
"dunst/dunstrc" = "~/.config/dunst/dunstrc"
"systemd/dunst.service" = "~/.config/systemd/user/dunst.service"

[tmux.files]
"tmux/tmux.conf" = "~/.config/tmux/tmux.conf"

[fcitx5.variables]
rime-id = "0369579c-ee54-42ad-87e2-2ee9b3fdfed1"

[fcitx5.files]
"fcitx5/config" = "~/.config/fcitx5/config"
"fcitx5/profile" = "~/.config/fcitx5/profile"
"fcitx5/conf" = "~/.config/fcitx5/conf"
"fcitx5/rime" = "~/.local/share/fcitx5/rime"
"fcitx5/rime/im" = "~/.local/share/fcitx5/rime"
"systemd/fcitx5.service" = "~/.config/systemd/user/fcitx5.service"

[tofi.files]
"tofi/config" = "~/.config/tofi/config"
"scripts/tofi-calc.sh" = "~/.local/bin/tofi-calc"

[bottom.files]
"bottom/bottom.toml" = "~/.config/bottom/bottom.toml"
"scripts/processmanager.sh" = "~/.local/bin/processmanager"

[gtk.files]
"gtk/settings2.ini" = "~/.gtkrc-2.0"
"gtk/settings3.ini" = "~/.config/gtk-3.0/settings.ini"
"gtk/settings4.ini" = "~/.config/gtk-4.0/settings.ini"
"gtk/themes" = "~/.local/share/themes"

[lf.variables]
lf_wrapper_path = "$HOME/.local/bin/lf-wrapper.sh"
default_home_dir = "$HOME"

[lf.files]
"lf/lfrc" = { target = "~/.config/lf/lfrc", type = "symbolic" }
"lf/scope" = "~/.config/lf/scope"
"lf/cleaner" = "~/.config/lf/cleaner"
"lf/icons" = "~/.config/lf/icons"
"lf/colors" = "~/.config/lf/colors"
"lf/xdg-filepicker" = { target = "~/.config/lf/xdg-filepicker", type = "symbolic" }
"lf/xdg-filepicker/config" = "~/.config/xdg-desktop-portal-wlr/config"
"scripts/lf-wrapper.sh" = "~/.local/bin/lf-wrapper.sh"
"lf/lf.desktop" = "~/.local/share/applications/lf.desktop"
"scripts/filemanager.sh" = "~/.local/bin/filemanager"

[qutebrowser.files]
"qutebrowser/config.py" = "~/.config/qutebrowser/config.py"
"qutebrowser/stylesheet.css" = "~/.config/qutebrowser/stylesheet.css"
"qutebrowser/quickmarks" = "~/.config/qutebrowser/quickmarks"
"qutebrowser/bookmarks" = "~/.config/qutebrowser/bookmarks/"
"qutebrowser/theme.py" = "~/.config/qutebrowser/theme.py"
"qutebrowser/userscripts/qute-keepassxc" = "~/.config/qutebrowser/userscripts/qute-keepassxc-local"
"qutebrowser/userscripts/translate" = { target = "~/.config/qutebrowser/userscripts/translate", type = "symbolic" }

[niri]
depends = ["uwsm"]

[niri.files]
"niri/config.kdl" = "~/.config/niri/config.kdl"
"niri/keybinds.kdl" = "~/.config/niri/keybinds.kdl"
"niri/windowrule.kdl" = "~/.config/niri/windowrule.kdl"
"niri/workspace.kdl" = "~/.config/niri/workspace.kdl"
"niri/niri.env" = "~/.config/uwsm/env-niri"
"niri/niri-portals.conf" = "~/.config/xdg-desktop-portal/niri-portals.conf"

[uwsm]
depends = ["foot", "cliphist", "dunst", "fcitx5", "gtk"]

[uwsm.files]
"uwsm/global.env" = "~/.config/uwsm/env"
"scripts/media-check.sh" = "~/.local/bin/media-check"
"scripts/volume-control.sh" = "~/.local/bin/volume-control"

[cliphist.files]
"systemd/cliphist.service" = "~/.config/systemd/user/cliphist.service"

[foot]
depends = ["tmux", "lf", "bottom"]

[foot.files]
"foot/foot.ini" = "~/.config/foot/foot.ini"
"systemd/foot.service" = "~/.config/systemd/user/foot.service"
"scripts/terminal.sh" = "~/.local/bin/terminal"

[fuzzel.files]
"fuzzel/fuzzel.ini" = "~/.config/fuzzel/fuzzel.ini"
